@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  font-family: 'Bungee', cursive;
  font-family: 'Inter', sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Playfair", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Sofia", cursive;

}
